.card {
  display: flex;
  flex-direction: column;
  background: var(--mantine-color-gray-8);
  padding: rem(20px);
  border-radius: rem(10px);
  gap: rem(8px);
  text-decoration: inherit;
  color: inherit;
  max-width: 200px;
  width: 100%;
}

.title {
  text-align: center;
}
